<!-- The following information will be updated dynamically using an API service. When the User clicks on a country on the SVG map, the appropriate info will populate here -->
<!-- Create an interface that will declare the type of each object. -->

<!-- Interpolate static data from the map-component --> 
<div class="countryInfoContainer">
        <h1>Country Info</h1>
        <h2>Name: <span>{{countryInformation.countryName}}</span></h2>
        <h2>Capital: <span>{{countryInformation.countryCapital}}</span></h2>
        <h2>Region: <span>{{countryInformation.countryRegion}}</span></h2>
        <h2>Income Level: <span>{{countryInformation.incomeLevel}}</span></h2>
        <h2>Latitude: <span>{{countryInformation.latitude}}</span></h2>
        <h2>Longitude: <span>{{countryInformation.longitude}}</span></h2>
</div>
